<h1>For Sale</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @guitars.each do |guitar| %>
  <tr>
    <td><%= link_to guitar.title, guitar %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guitar', new_guitar_path %>
